@model AlimentoModel
@{
    ViewData["Title"] = "Novo alimento";
}



<link rel="stylesheet" href="~/css/AlimentoCSS/cadastrarAlimento.css" />



@if (TempData["SUCESSO"] != null)
{
    <div id="AlertOfSucess" role="alert">
        <button type="button" onclick="fecharMensagem()" class="btn btn-outline-danger btn-sm close-alert" aria-label="Close">X</button>

        @TempData["SUCESSO"]
    </div>
}

@if (TempData["ERRO"] != null)
{
    <div id="AlertOfSucess" role="alert">
        <button type="button" onclick="fecharMensagem()" class="btn btn-outline-danger btn-sm close-alert" aria-label="Close">X</button>

        @TempData["ERRO"]
    </div>
}


<div>
    <form asp-controller="Alimento" asp-action="editarAlimento" method="POST" id="formAlimento">
        <input type="hidden" asp-for="Id" />
        <div>
            <div id="tituloEditarAlimento">
                <h1>Edição de alimentos</h1>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="nomeAlimento" class="form-label">Nome do alimento</label>
                    <input type="text" class="form-control" id="nomeAlimento" placeholder="Macarrão" asp-for="nomeAlimento">
                    @Html.ValidationMessageFor(x => x.nomeAlimento)
                </div>
                <div class="col">
                    <label for="vencimento" class="form-label">Data vencimento</label>
                    <input type="datetime" class="form-control" id="vencimento" placeholder="25/05/24" asp-for="dataVencimento">
                    @Html.ValidationMessageFor(x => x.dataVencimento)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="unidadeMedida" class="form-label">Unidade de medida</label>
                    <select asp-for="unidadeMedida" class="form-control">
                        <option value="Kg">Kg</option>
                        <option value="LT">LITROS</option>
                        <option value="PC">PACOTE</option>
                        <option value="UN">UNIDADE</option>
                    </select>
                    @Html.ValidationMessageFor(x => x.unidadeMedida)
                </div>
                <div class="col">
                    <label for="quantidadeMaxima" class="form-label">Quantidade máxima</label>
                    <input type="text" class="form-control" id="quantidadeMaxima" placeholder="0.0" asp-for="quantidadeMaxima">
                    @Html.ValidationMessageFor(x => x.quantidadeMaxima)
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <label for="quantidadeMinima" class="form-label">Quantidade mínima</label>
                    <input type="text" class="form-control" id="quantidadeMinima" placeholder="0.0" asp-for="quantidadeMinima">
                    @Html.ValidationMessageFor(x => x.quantidadeMinima)
                </div>
                <div class="col">
                    <label for="quantidadeAtual" class="form-label">Quantidade atual</label>
                    <input type="text" class="form-control" id="quantidadeAtual" placeholder="0.0" asp-for="quantidadeAtual">
                    @Html.ValidationMessageFor(x => x.quantidadeAtual)
                </div>
            </div>
            <div id="contBtns">
                <button id="btnSalvar">Salvar</button>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('formAlimento').addEventListener('submit', function (e) {
        var nomeAlimento = document.getElementById('nomeAlimento').value;
        var vencimento = document.getElementById('vencimento').value;
        var unidadeMedida = document.getElementById('unidadeMedida').value;
        var quantidadeMaxima = document.getElementById('quantidadeMaxima').value;
        var quantidadeMinima = document.getElementById('quantidadeMinima').value;
        var quantidadeAtual = document.getElementById('quantidadeAtual').value;

        if (nomeAlimento === '' || vencimento === '' || unidadeMedida === '' || quantidadeMaxima === '' || quantidadeMinima === '' || quantidadeAtual === '') {
            // Se algum campo estiver vazio, exibe um alerta e impede a submissão do formulário
            alert('Por favor, preencha todos os campos.');
            e.preventDefault();
        } else if (Number(quantidadeMinima) > Number(quantidadeMaxima)) {
            // Se quantidadeMinima for maior que quantidadeMaxima, exibe um alerta e impede a submissão do formulário
            alert('A quantidade mínima não pode ser maior que a quantidade máxima.');
            e.preventDefault();
        }
    });
</script>

<script>
    function fecharMensagem() {

        let msg = document.getElementById("AlertOfSucess");
        msg.style.display = 'none';
    }
</script>    