@model List<AlimentoModel>
@{
    Layout = "_LayoutMenuDentro";
    ViewData["Title"] = "Listagem de Alimentos";
}


<link rel="stylesheet" href="~/css/AlimentoCSS/indexAlimento.css" />


<div id="alertasDaPagina">
    @if (TempData["SUCESSO"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["SUCESSO"]
        </div>
    }

    @if (TempData["ERRO"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
            @TempData["ERRO"]
        </div>
    }
</div>

<section>
    <div id="container-alimento">
        <div id="box-title">
            <div>
                @await Component.InvokeAsync("BotaoAlimentos")
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover" id="table-alimento">
                <thead class="thead-custom">
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Fornecedor</th>
                        <th scope="col">Vencimento</th>
                        <th scope="col">Data Cadastro</th>
                        <th scope="col">Status</th>
                        <th scope="col">Unidade de medida</th>
                        <th scope="col">Qtd atual</th>
                        <th scope="col">Qtd Máxima</th>
                        <th scope="col">Qtd Mínima</th>
                        <th scope="col" id="invisivel">Config</th>
                    </tr>
                </thead>
                @{
                    HashSet<int> alimentosProcessados = new HashSet<int>();
                    ViewData["AlimentosProcessados"] = alimentosProcessados;
                    HashSet<int> alimentosProcessadosCozinheiro = new HashSet<int>();
                    ViewData["alimentosProcessadosCozinheiro"] = alimentosProcessadosCozinheiro;
                 }
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        foreach (AlimentoModel alimento in Model)
                        {
                            var uniqueId = "dropdownMenuButton" + alimento.Id;
                            <tr>
                                <td>@alimento.nomeAlimento</td>
                                <td>@alimento.FornecedorNome</td>
                                <td>@alimento.dataVencimento</td>
                                <td>@alimento.DataCadastro</td>
                                @* if para gerenciar o status do alimento *@
                                <td>
                                    @if (alimento.quantidadeAtual < alimento.quantidadeMinima)
                                    {
                                        <span class="badge badge-danger rounded-pill">Perigo</span>
                                    }
                                    else
                                    {
                                        <span class="badge badge-success rounded-pill">Confortável</span>
                                    }
                                </td>
                                <td>@alimento.unidadeMedida</td>
                                @* if para verificar se a tabela esta nula *@
                                @if (alimento.quantidadeAtual == null)
                                {
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                }
                                else
                                {
                                    <td>@alimento.quantidadeAtual</td>
                                    <td>@alimento.quantidadeMaxima</td>
                                    <td>@alimento.quantidadeMinima</td>
                                }
                                <td id="invisivel">
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle dropdown-custom-toggle" type="button" id="@uniqueId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            Configurações
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="@uniqueId">
                                            @await Component.InvokeAsync("FiltroDropdownAlimentos")
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

<script>
    // Função para mostrar a barra de carregamento e imprimir a página após 3 segundos
    function showLoading() {
        // Mostra a barra de carregamento
        document.getElementById('loading-container').style.display = 'block';

        // Animação suave para mostrar a barra de carregamento
        document.getElementById('loading-bar').style.transition = 'width 3s ease-in-out'; // Definindo a duração da animação

        setTimeout(function () {
            document.getElementById('loading-bar').style.width = '100%';
        }, 100);

        // Define a ação de impressão após um tempo suficiente
        setTimeout(function () {
            window.print();
            // Esconde a barra de carregamento após a impressão
            document.getElementById('loading-container').style.display = 'none';
            // Reseta a largura da barra de carregamento para 0%
            document.getElementById('loading-bar').style.width = '0%';
        }, 3000);
    }
</script>

<style>
    .custom-print-button {
        padding: 5px 10px;
        background-color: #007bff; /* Cor do botão */
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

        .custom-print-button:hover {
            background-color: #0056b3; /* Cor do botão ao passar o mouse */
        }

    .loading-bar {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 2px; /* Altura da barra de carregamento */
        width: 0%; /* Inicialmente sem largura */
        background-color: #28a745; /* Cor da barra de carregamento */
        transition: width 3s;
    }

</style>

<style>
    /* Estilos para o botão dropdown */
    .dropdown-custom-toggle {
        border-radius: 20px;
        font-weight: bold;
        background-color: #007bff;
        border-color: #007bff;
        width: 170px; /* ajuste conforme necessário */
    }

        .dropdown-custom-toggle:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    /* Estilos para o menu dropdown */
    .dropdown-custom-menu {
        border-radius: 20px;
        background-color: #f8f9fa;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    /* Estilos para os itens do menu dropdown */
    .dropdown-item {
        color: #495057;
        border-radius: 7px;
    }

        .dropdown-item:hover {
            background-color: #cce5ff;
            color: #007bff;
        }
    
    .thead-custom {
        background-color: #000028;
        color: white;
    }


</style>

<style>
    @@media print {
        body {
            color: gray;
        }

        #conteudo {
            font-size: 14pt;
        }

        button {
            display: none;
        }

        #box-title {
            display: none;
        }
        #invisivel{
            display: none;
        }

        .thead-custom {
            background-color: #000028;
            color: black;
        }
    }
</style>

<script>
    function fecharMensagem(){
        
        let msg = document.getElementById("AlertOfSucess");
        msg.style.display = 'none';
    }
</script>

<!--Modal para Criar Alimento-->
<div id="ModalCriarAlimento" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="CriarAlimento"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Editar Alimento-->
<div id="ModalEditarAlimento" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div id="EditarAlimento"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Excluir Alimento-->
<div id="ModalApagarAlimento" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <div id="ApagarAlimento"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Listar Alimento Vencendo-->
<div id="ModalListarAlimentoAcabando" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="ListarAlimentoAcabando"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Listar Alimento Perto de vencer-->
<div id="ModalListarAlimentoVencendo" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="ListarAlimentoVencendo"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Saida do alimento-->
<div id="ModalSaidaDeAlimento" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
                <div id="SaidaDeAlimento"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Logs de cadastro nos alimentos-->
<div id="ModalLogsCadastroAlimentos" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
                <div id="LogsCadastroAlimentos"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Logs de Retirada nos alimentos-->
<div id="ModalLogsRetiradaAlimentos" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="LogsRetiradaAlimentos"></div>
            </div>
        </div>
    </div>
</div>
<!--Modal para Retirada nos alimentos-->
<div id="ModalDevelveAlimentos" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modal-content">
            <div class="modal-body">
                <div id="DevolveAlimentos"></div>
            </div>
        </div>
    </div>
</div>