@model List<AlimentoModel>
@{
    ViewData["Title"] = "Página de Impressão Acabando";
}

<link rel="stylesheet" href="~/css/UsuarioCSS/UsuarioCSS.css" />
<br />
<h1 class="text-center">@ViewData["Title"]</h1>
<br />
<button onclick="window.print()">Imprimir esta página</button>

<div id="conteudo">
    <section id="container-usuario">

        <table class="table table-Alimento" id="table-Vencendo">
            <thead>
                <tr class="text-bg-success">
                    <th id="codigo">#</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Vencimento</th>
                    <th scope="col">Status</th>
                    <th scope="col">Unidade de medida</th>
                    <th scope="col">Quantidade atual</th>
                    <th scope="col">Quantidade Minima</th>

                </tr>
            </thead>
            <tbody>

                @if (Model != null && Model.Any())
                {
                    foreach (AlimentoModel alimento in Model)
                    {

                        <tr>
                            @* if para gerenciar o status do alimento *@
                            @if (alimento.quantidadeAtual < alimento.quantidadeMinima)
                            {
                                <td>@alimento.Id</td>
                                <td>@alimento.nomeAlimento</td>
                                <td>@alimento.dataVencimento</td>
                                <td><span class="badge badge-danger rounded-pill d-inline ">Perigo</span></td>
                                <td>@alimento.unidadeMedida</td>
                                <td>@alimento.quantidadeAtual</td>
                                <td>@alimento.quantidadeMinima</td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>

    </section>
</div>

<style>
    @@media print {
        body {
            color: gray;
        }

        #conteudo {
            font-size: 14pt;
        }

        button {
            display: none;
        }
    }
</style>