@using WebApplication1.Enums;
@model UsuarioModel
@{
    ViewData["Title"] = "Criar Usuario";
}

<link rel="stylesheet" href="~/css/UsuarioCSS/criar.css" />

<div id="containerEditarAlimento">


    <form asp-controller="Usuario" asp-action="Criar" method="POST" id="formUsuario">
        <div>
            <div id="tituloEditarAlimento">
                <h1>Cadastro de Usuario</h1>
            </div>
            <form>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nome do Usuario</label>
                        <input type="text" class="form-control" id="nomeAlimento" placeholder="Carlos" asp-for="NomeUsuario">
                        @Html.ValidationMessageFor(x => x.NomeUsuario)
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="email">Email:</label>
                        <input type="text" id="email" class="form-control" name="email" placeholder="email@gmail.com" onkeyup="verificarEmail();" asp-for="Email">
                        <span id="mensagemEmail"></span>
                        @Html.ValidationMessageFor(x => x.Email)
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Digite o login do Usuario</label>
                        <input type="text" class="form-control" id="Carlos Exemplo" placeholder="Carlos Exemplo" asp-for="Login">
                        @Html.ValidationMessageFor(x => x.Login)
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nome" class="form-label">Perfil</label>
                        <div class="col-md-6 mb-3 dropdown-custom">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="perfilDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Selecione
                                </button>
                                <div class="dropdown-menu" aria-labelledby="perfilDropdown">
                                    <button class="dropdown-item" onclick="selectOption('@PerfilEnum.adimin', 'Adminstrador'); return false;">Adminstrador</button>
                                    <button class="dropdown-item" onclick="selectOption('@PerfilEnum.Cozinheiro', 'Cozinheiro'); return false;">Cozinheiro</button>
                                </div>
                                <select asp-for="Funcao" class="form-control" style="display: none;">
                                    <option value="">Selecione</option>
                                    <option value="@PerfilEnum.adimin">Adminstrador</option>
                                    <option value="@PerfilEnum.Cozinheiro">Cozinheiro</option>
                                </select>
                                @Html.ValidationMessageFor(x => x.Funcao)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="senha">Senha:</label>
                        <input type="password" class="form-control" id="senha" name="senha">
                        @Html.ValidationMessageFor(x => x.Senha)
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="confirmarSenha">Confirmar Senha:</label>
                        <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha" onkeyup="verificarSenha();" asp-for="Senha">
                        <span id="mensagem"></span>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6 mb-3 dropdown-custom">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" id="statusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Status
                                </button>
                                <div class="dropdown-menu" aria-labelledby="statusDropdown">
                                    <button class="dropdown-item" onclick="setStatus(true); return false;">Ativo</button>
                                </div>
                                <input type="hidden" id="Ativo" name="Ativo" asp-for="Ativo">
                                @Html.ValidationMessageFor(x => x.Ativo)
                            </div>
                        </div>
                    </div>
                <div>
                    <button type="submit" id="btnSalvar">Salvar</button>
                </div>
            </form>
        </div>

    </form>
</div>

<style>
    .dropdown-toggle {
        border-radius: 20px;
        font-weight: bold;
        background-color: #007bff;
        border-color: #007bff;
    }

        .dropdown-toggle:hover {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .dropdown-menu {
        border-radius: 20px;
        background-color: #f8f9fa;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .dropdown-item {
        color: #495057;
        border-radius: 7px;
    }

        .dropdown-item:hover {
            background-color: #cce5ff;
            color: #007bff;
        }

    .dropdown-custom .dropdown-toggle {
        width: 170px; /* Defina a largura desejada aqui */
    }
</style>

<script>
    function selectOption(value, displayText) {
        var selectElement = document.getElementById('Funcao');
        selectElement.value = value;
        document.getElementById('perfilDropdown').innerText = displayText;
    }
    function setStatus(value) {
        document.getElementById('Ativo').value = value;
        document.getElementById('statusDropdown').innerText = value ? 'Ativo' : 'Inativo';
    }
</script>


<script>
    document.getElementById('formUsuario').addEventListener('submit', function (e) {
        var nomeUsuario = document.getElementById('nomeAlimento').value;
        var email = document.getElementById('email').value;
        var login = document.getElementById('Carlos Exemplo').value;
        var senha = document.getElementById('senha').value;
        var confirmarSenha = document.getElementById('confirmarSenha').value;

        if (nomeUsuario === '' || email === '' || login === '' || senha === '' || confirmarSenha === '') {
            // Se algum campo estiver vazio, exibe um alerta e impede a submissão do formulário
            alert('Por favor, preencha todos os campos.');
            e.preventDefault();
        } else if (!email.includes('@@gmail.com')) {
            // Se o email não contém '@@gmail.com', exibe um alerta e impede a submissão do formulário
            alert('Por favor, insira um email válido que contenha "@@gmail.com".');
            e.preventDefault();
        } else if (senha !== confirmarSenha) {
            // Se a senha e a confirmação de senha não são iguais, exibe um alerta e impede a submissão do formulário
            alert('As senhas não correspondem. Por favor, verifique e tente novamente.');
            e.preventDefault();
        }
    });

    function verificarSenha() {
        var senha = document.getElementById("senha").value;
        var confirmarSenha = document.getElementById("confirmarSenha").value;
        var mensagem = document.getElementById("mensagem");

        if (senha == confirmarSenha) {
            mensagem.style.color = "green";
            mensagem.innerHTML = "Senhas correspondem!";
        } else {
            mensagem.style.color = "red";
            mensagem.innerHTML = "Senhas não correspondem!";
        }
    }

    function verificarEmail() {
        var email = document.getElementById("email").value;
        var mensagemEmail = document.getElementById("mensagemEmail");

        if (email.includes("@@gmail.com")) {
            mensagemEmail.style.color = "green";
            mensagemEmail.innerHTML = "O email contém '@@gmail.com'!";
        } else {
            mensagemEmail.style.color = "red";
            mensagemEmail.innerHTML = "O email não contém '@@gmail.com'!";
        }
    }
</script>
